*{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
img{
    max-height: 200px;
    border: 5px solid rgb(171, 170, 170);
    border-radius: 50%;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.parent, .subject, .child{
    display: flex;
    align-items: center;
}
span{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
}
.child{
    margin: 0 20px;
}
.subject ,.child{
    flex-direction: column;
}