*{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
}
span{
    font-size: 20px;
}
img{
    border-radius: 50%;
    border: 5px solid rgb(171, 170, 170);
    padding: 10px;
    max-height: 300px;
}
p{
    margin:0;
    text-align: center;
}
p:nth-child(2){
    margin-bottom: 20px;
}
.child:nth-child(1){
    display: flex;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
    background-color: #2196F3;
    padding: 10px;
    border-radius:20px
}