*{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    position: relative;
    min-height: 100vh;
}
span.made{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
}
img{
    border-radius: 50%;
    border: 5px solid rgb(171, 170, 170);
    padding: 10px;
    max-height: 200px;
}
p{
    margin:0;
    text-align: center;
}
p:nth-child(2){
    margin-bottom: 20px;
}
.child:nth-child(1){
    display: flex;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
    background-color:#073165;
    padding: 10px;
    border-radius:20px
}
.child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardUnit{
    min-width: 400px;
    min-height: 450px;
    text-align: right;
    border: 2px solid grey;
    border-radius: 20px;
    margin:10px 20px;
}
.cardUnit:nth-child(1) > .image{
    background-image: url(../imgs_arabic/gold_treasure.png);
}
.cardUnit:nth-child(1) > .lesson1{
    background-image: url(../imgs_arabic/clock.jpg);
}
.cardUnit:nth-child(2) > .image{
    background-image: url(../imgs_arabic/science.png);
}
.cardUnit:nth-child(2) > .lesson2{
    background-image: url(../imgs_arabic/child.jpg);
}
.cardUnit:nth-child(3)> .image{
    background-image: url(../imgs_arabic/history_arabic.png);
}
.cardUnit:nth-child(3)> .lesson3{
    background-image: url(../imgs_arabic/farmer.jpg);
}
.cardUnit:nth-child(4)> .lesson4{
    background-image: url(../imgs_arabic/science_homework.jpg);
}
.cardUnit > .image{
    min-width: 400px;
    min-height: 200px;
    background-size: cover;
    border-radius: 20px;
}
.cardUnit > h2 , .cardUnit > span{
    margin-right: 20px;
}
.cardUnit > a{
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding:  10px 20px;
}
body.error{
    display: flex;
    justify-content: center;
    align-items: center;
}